{
 :source-paths ["src"]
 :dev-http {3000 "public"}

 :dependencies [[cider/cider-nrepl "0.24.0"]]

 :builds
 {:sketch {
                :target :browser
                :compiler-options {:optimizations :advanced}
                :modules {:main {:entries [landscape]}}}}
}
