{
 :source-paths ["src"]
 :dev-http {3000 "public"}

 :dependencies [[cider/cider-nrepl "0.24.0"]]

 :builds
 {:recursion01 {
                :target :browser
                :compiler-options {:optimizations :advanced}
                :modules {:main {:entries [recursion01]}}}}
}
